.container {
    width:100%;
    text-align:right;
    color:white;
    background-color: #3d6271;
}

.crmplace {
    color:white;
    background-color: darkslategrey;

}

.container {
    width:100%;
    text-align:right;
    color:white;
    background-color: darkslategrey;
}

.likkcss{
    color:white;
    background-color:lightgray;
}

.frame {
    width: 150px;
    height: 150px;
    border: 2px solid #ccc;
    background: #eee;
    margin: auto;
    padding: 5px 5px;
  }

  .name{
    text-align: center;
  }

  .borderexample {
    box-sizing:border-box;
    margin:auto;
    border-color:black;
    width:500px;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
   }
.colorcss{
    background-color: darkslategrey;
}

.selectcss{
    box-sizing:border-box;
    margin:auto;
    border-color:black;
    width:500px;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
}

footer{
    box-sizing:border-box;
    margin:auto;
    border-color:black;
    width:500px;
    background-color: darkslategrey;

}